<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="realEx" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <realEx>
        <add key="Currency" value="USD"/>
        <add key="MerchantId" value="TestMerchant"/>
        <add key="Mode" value="Live"/>
        <add key="SharedSecret" value="foobar"/>
        <add key="SubAccount" value="test"/>
        <add key="UrlEndPoint" value="http://example.com/"/>
    </realEx>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
